:root{
    --primary-text-color:#757575 ;
    --secondary-text-color:#212121;
    --accent-text-color:#2196F3;
    --btn-text-color:#FFFFFF;
    --order-btn-active:#188CE8;
}
body{
    color:var(--primary-text-color) ;
    background-color: var(--btn-text-color) ;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    letter-spacing: 0.03em;
}

.list{
    list-style: none;
}
.logo{
    color:#000000 ;

    font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

}
.first-logo, 
.logo:hover, 
.logo:focus, 
.link:hover, 
.link:focus {
    color: var(--accent-text-color) ;
}
.site-nav .link-current{
    color: var(--accent-text-color);

}
.site-nav .nav-link,
.contacts .contact-link{
    text-decoration: none;
}
.site-nav,
.contacts{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.nav-link {
    color:var(--secondary-text-color) ;
}
.contact-link{
    color: var(--primary-text-color);
}
.hero-title{
color: var(--btn-text-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}
.main-section{
    background-color: #2F303A;
}
.order-btn{
    color: var(--btn-text-color);
    background-color: var(--accent-text-color);
    cursor: pointer;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: none;
    outline: none;
}
.order-btn:hover, 
.order-btn:focus{
    background-color: var(--order-btn-active);
}
.filter-btn{
    color:#212121 ;
    background-color: #F5F4FA ;
    cursor: pointer;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    border: none;
    outline: none;
    
}
.filter-btn:hover,
.filter-btn:focus{
    color: var(--btn-text-color);
    background-color: var(--accent-text-color);
}
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
     padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;

}
.section-title, 
.paragraph-title,
.works{
    color: #212121;
}
.works{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.paragraph-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.paragraph-title.member{
font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}
.position{
    font-size: 16px;
    line-height: 1.18;
}
.paragraph-text{
    font-size: 14px;
    line-height: 1.71;
}
.back-color{
    background-color: var(--btn-text-color);
}
.team-list{
    background-color: #F5F4FA;
}
.type{
    font-size: 16px;
        line-height: 1.87;
}
.footer{
    background-color: #2F303A;
}
.logo.accent{
    color: #FFFFFF;
}
.location{
    color: var(--btn-text-color);

    font-size: 14px;
    line-height: 2;
    text-decoration: none;
    font-style: normal;
}
.footer-contact{
    color: rgba(255, 255, 255, 0.6);
    
    font-size: 14px;
    line-height: 2;
    text-decoration: none;
    font-style: normal;
}